body{
    background-color:rgb(76, 74, 74);
}

p{
    color: whitesmoke;
    font-size: 2rem;
}
h1{
  color: whitesmoke;
  font-family: "Jacquard 24", system-ui;
}

.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}

a:hover{
  color: red;
  font-size: 1.5rem;
}