<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Babel's Peak</title>
</head>

<body>
    <p>Current User: <%= user %> </p>

    <form action="http://localhost:4000/babelpeak" method="post">
        <input type="text" name="wish" required>
        <button type="submit"> Submit </button>
    </form>
    <br>
    <%= voice %>
    <br>
    <%= testData %>
</body>

</html>