<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Babel's Peak</title>
</head>

<body>
    <p><%= user %>, it stares at you...</p> <br>
    <p>Make a wish?</p>

    <form action="/babelpeak" method="post">
        <input type="text" name="wish" required>
        <button type="submit"> Submit </button>
    </form>
    <br>
    <%= voice %>
    <br>
    <%= testData %>
</body>

</html>