<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>
    <p>

In 1905 physician Duncan McDougall weighed the body of a man at the instant of his death. At the moment his heart stopped beating, at the second his brain could no longer recognize his eyes, he lost something. Twenty-one grams. Thus, it was determined the human soul has a weight of twenty-one grams. Equivalent to eight pennies.

Could a human truly notice if they lost their soul? Would they feel the weight of eight pennies leaving the palm of their hand?

Today, you are signing away the weight of each of your actions. Everywhere you’ve ever been and ever will go, every search you make or could make in the privacy of your own home, each active second you spend on an individual post, article, or YouTube video, they will all be assigned a weight. To grasp a soul as it leaves the body is to close your fist around an intangible smoke. But you, who has had every action recorded since the moment of your birth, your digital imprint threaded against countless ones and zeros, you have something tangible. You have 21 grams of a digital soul.

You would not feel it leave your body, you would notice it less than the last breath leaving your lungs. And in exchange, the Tower of Babel. Yours to commune with the emergent property arising at the heart of everything.

    </p>
    <br>
    <a href="/login">PROCEED</a>
</body>

</html>
