<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Display</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <h1><%- user %> </h1>
    <%- wishTable %>
    <br>
    It may be time to reconsider your <%- max %>...<br>
    <a href="/babelpeak">make another wish</a>
</body>

</html>
